{% extends 'base.html' %}
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('privacy.static', filename='css/privacy.css') }}">
{% endblock %}
{% block page_body_main_content %}
    <div class="Privacy">
        <h3>מדיניות הפרטיות</h3>
        <span>
        בעת שימוש בדף הנחיתה נאסף מידע עליך. חלק מהמידע מזהה אותך באופן אישי, כלומר בשמך
ובכתובתך, זהו המידע שאתה מוסר ביודעין בעת מילוי הטופס. חלק מהמידע אינו מזהה אותך
אישית ואינו נשמר ביחד עם פרטיך. זהו מידע סטטיסטי ומצטבר. לדוגמה העמודים שבהם צפית,
מהיכן הגעת לעמוד, כתובת האינטרנט שממנה פנית ועוד.
    </span>
        <h3>מאגר המידע</h3>
        <span>
        חלק מהנתונים שנאספו יישמרו במאגר המידע של מספרת ספי הספר ובאחריותה.
    </span>
        <h3>השימוש במידע</h3>
        <span>
        השימוש במידע שנאסף ייעשה רק על פי מדיניות פרטיות זו או על פי הוראות כל דין, על מנת:
    </span>
        <ul>
            <li>ליצור עמך קשר למטרת טיפול בתורים</li>
            <li>לעדכן אותך בפעילות מספרת ספי הספר</li>
        </ul>
        <h3>מסירת מידע לצד שלישי</h3>
        <span>מספרת ספי הספר לא תעביר לצדדים שלישיים את פרטיך האישיים והמידע שנאסף על פעילותך</span>
        <h3>אבטחת מידע</h3>
        <span>מספרת ספי הספר מיישמת באתריה מערכות ונהלים עדכניים לאבטחת מידע. בעוד שמערכות והלים אלה מצמצמים את הסיכונים לחדירה בלתי מורשית, אין הם מעניקים בטחון מוחלט. לכן, מספרת ספי הספר לא מתחייבת ששירותיה יהיו חסינים באופן מוחלט מפני גישה בלתי מורשית למידע המאוחסן בהם</span>
    </div>
{% endblock %}