
.img-container img {
    width: 200px;
    height: 200px;
}
.cart-item img {
    width: 200px;
    height: 200px;
}
.Item1 {
    grid-area:Item1;
}
.Item2 {
    grid-area:Item2;
}
.Item3 {
    grid-area:Item3;
}
.Item4 {
    grid-area:Item4;
}
.Item5 {
    grid-area:Item5;
}
.Item6 {
    grid-area:Item6;
}
.Item7 {
    grid-area:Item7;
}
.Item8 {
    grid-area:Item8;
}
.Item9 {
    grid-area:Item9;
}
.Item10 {
    grid-area:Item10;
}
.Item11 {
    grid-area:Item11;
}
.Item12 {
    grid-area:Item12;
}
.Item13 {
    grid-area:Item13;
}
.Item14 {
    grid-area:Item14;
}
.Item15 {
    grid-area:Item15;
}
#store {
    grid-area: catalog;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    text-align: center;
}
.Location {
    grid-area: "location";
    padding-bottom: 30px;
}
.CatalogTitle {
    grid-area: catalog-title;
    text-align: center;
}
#HomePageGrid {
    display: grid;
    grid-template-areas:
    'header header header header header header header'
    'sub-header sub-header sub-header sub-header sub-header sub-header sub-header'
    'catalog-title catalog-title catalog-title catalog-title catalog-title catalog-title catalog-title'
    'catalog catalog catalog catalog catalog catalog catalog'
    'footer footer footer footer footer footer footer'
}