{% extends 'base.html' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('schedule.static', filename='css/schedule.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <!-- Open Hours -->
    <div class="OpeningHours">
        <h1 dir="rtl">
            שעות פתיחה
            יום ראשון - חמישי: 09:00-17:00<br>יום שישי: 09:00-13:00<br>יום שבת: נא להשאיר פרטים ואחזור אליכם
            כל תור לוקח כחצי שעה, וניתן לקבוע עד 30 ימים מראש.
            לאחר שתבחרו את התאריך, תופיע לכם הרשימה של התורים הפנויים
        </h1>
    </div>

    <div class="form">
        <form id="schedule-form" method="POST" action="/schedule">
            <label for="phone" class="phone-form-element">
                <span>אנא הכנס את מספר הטלפון שלך</span>
                <br>
                <input type="text" id="phone" name="phone" required>
                <span class="error" aria-live="polite"></span>
                <br>
            </label>
            <br>
            <label for="ServiceType">
                <span>תבחר את סוג השירות</span>
                <br>
                <select name="ServiceType" id="ServiceType" form="schedule-form" required>
                    <option value="תספורת">תספורת</option>
                    <option value="החלקה">החלקה</option>
                    <option value="צביעת שיער">צביעת שיער</option>
                </select>
            </label>
            <br>
            <label for="date">
                <span>אנא בחר יום מועדף</span>
                <br>
                <select name="date" id="date"
                        onload="return calculateAvailableHours(document.getElementById(date).value)" required>
                    {% for date_ in dates %}
                        <option value="{{ date_ }}"
                                {% if chosen_date is defined and date_ == chosen_date %}
                                selected
                                {% endif %}
                        >{{ date_ }}</option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <label for="hour" id="schedule-hour">
            </label>
            <br>
            <br>
            <input type="submit" value="הקש לזימון לתור"
                   onclick="return confirm('האם אתה בטוח? במידה וכן, תלחץ על OK וניצור עמך קשר')"
                   class="submit button-73 small-btn">
        </form>
    </div>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('schedule.static', filename='js/schedule.js') }}"></script>
{% endblock %}