
.Privacy {
    grid-area: privacy;
    padding: 20px;
    text-align: right;
}

#HomePageGrid {
    display: grid;
    grid-template-areas:
    'header header header header header header header'
    'sub-header sub-header sub-header sub-header sub-header sub-header sub-header'
    'privacy privacy privacy privacy privacy privacy privacy'
    'footer footer footer footer footer footer footer'
}