{% extends 'base.html' %}
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('takanon.static', filename='css/takanon.css') }}">
{% endblock %}
{% block page_body_main_content %}
    <div class="Takanon">
        <h1>מבוא</h1>
        <ul>
            <li>האתר ספי הספר משמש גם בתור אתר מכירות לרכישת מוצרי טיפוח</li>
            <li>האמור בתקנון זה בלשון זכר הוא לשם הנוחות בלבד והתקנון מתייחס לבני שני המינים באופן שווה</li>
            <li>הרכישה באמצעות האתר כפופה לתנאים המפורטים בתקנון זה</li>
            <li>עצם רכישת המוצר באתר תהווה הצהרה מצד הלקוח כי קרא את הוראות תקנון זה, הבין אותן והסכים להן. התקנון מהווה
                חוזה מחייב בינך לבין החברה
            </li>
        </ul>
        <h2>הרכישה</h2>
        <ul>
            <li>האתר מאפשר ללקוחות קנייה נוחה קלה ובטוחה של המוצר באמצעות האינטרנט</li>
            <li>ניתן לרכוש את המוצר באתר בכל עת</li>
            <li>הרכישה באתר הינה באמצעות כרטיס אשראי בלבד והעסקה תתבצע לאחר אישורה ע"י חברת האשראי</li>
            <li>מחיר המוצר באתר כולל את המע"מ</li>
            <li>החברה שומרת לעצמה את הזכות להפסיק את שיווק ומכירת המורצ בכל עת וכן לשלול זכות רכישה באתר מכירות על פי
                שיקול
                דעתה
            </li>
        </ul>
    </div>
{% endblock %}